<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://rodrigoejulianelopes.com"
        version="1.0.0">

    <tizen:application id="familyschool.tv"
                       package="familysch"
                       required_version="2.3"/>

    <content src="index.html"/>

    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>

    <feature name="http://tizen.org/feature/screen.size.all"/>

    <tizen:profile name="tv-samsung"/>

    <name>Family School</name>
    <description>Plataforma Terapêutica Family School</description>

    <icon src="icon.png"/>

    <tizen:metadata key="http://samsung.com/tv/metadata/allowScreenSaver" value="true"/>

    <access origin="https://rodrigoejulianelopes.com" subdomains="true"/>
    <access origin="https://*.rodrigoejulianelopes.com" subdomains="true"/>
    <access origin="https://player.mediadelivery.net" subdomains="true"/>
    <access origin="https://video.bunnycdn.com" subdomains="true"/>

</widget>
